In [18]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [19]:
cutlets=pd.read_csv("cutlets (1).csv")
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [20]:
unitA=pd.Series(cutlets.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [21]:
unitB=pd.Series(cutlets.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [22]:
# 2 sample two tail ttest
# stats.ttest_ind(array1,array2) 
# # ind- independent samples
p_values=stats.ttest_ind(unitA,unitB)
p_values

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [23]:
p_values[1] # two tail probability

0.4722394724599501

In [24]:
# compare the p value=0.4722394724599501 with a=o.o5(at 5% significance level)
# the p value is greter than a value then accepted null hypothesis there is no significant difference in the diameter of the cutlet between two units.